.card-text{
  background: darkturquoise;
  color: white;
}
.buttons{
  margin-left: 20rem;
}
.btn{
  border-color: white;
}
.container{
  max-width: 700px !important;
  
  margin: 0 auto;
}
.square{
  height: 150px;
  width: 150px;
  background-color: aquamarine;
  margin: 10px;
  display: grid;
  gap: 10px;
  float: left;
}
.spans{
  float: left;
  color: lightblack;
}